.container1 {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1cm;
}


.brand-logo img {
	max-width: 60px;
}

.parallax-container {
	height: 350px;
}



.stores img {
	min-width: 40%;
	max-width: 40%;
	margin-bottom: 3cm;
}

.product img {
	min-width: 50%;
	max-width: 70%;
	margin: auto;
}

.contact img {
	max-width: 50px;
}


.material-icons {
	font-size: 50px;
}

footer {
	height: 100px;
	padding: 5px;
}